.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1rem;
}

.logo {
    padding: 1rem;
    cursor: pointer;
    width: 3rem;
    background-image: url('/SubSyncLogo.png');
    background-position: center;
    background-size: cover;
}

.navlist {
    height: 100%;
    width: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navitem {
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
}

.navitem:hover {
    background-color: #72c7ff;
}
