.sidebar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    width: 13rem;
    background-color: #87CEEB; 
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 4rem;
}

.navbar-brand span {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: #ffffff;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.nav-link:hover {
    background-color: #ffffff;
    color: #000;
}

.material-symbols-outlined {
    font-size: 1.5rem;
}
