.manage-cust {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
}

.pfp-container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.profile-pic {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
