table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

tbody {
    background-color: lightgray;
}

tfoot td{
    background-color: lightgray;
    border-radius: 0 0 1rem 1rem;
}

th, td {
    padding: 1rem;
    text-align: left;
    word-wrap: break-word;
}

td {
    white-space: normal;
}

.reminders-table, .warnings-table {
    min-height: 15dvh;
}

.reminders-table thead tr {
    background-color: rgb(230, 230, 230);
}

.reminders {
    background-color: #ffc108;
}

.warnings-table thead tr {
    background-color: rgb(230, 230, 230);
}

.warnings {
    background-color: #db3545;
}

.reminders, .warnings {
    text-align: center;
    border-radius: 1rem 1rem 0 0;
}
