table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
.reminder-icon {
    color: #ffeb3b;
    font-size: 24px;
}
.warning-icon {
    color: #f44336;
    font-size: 24px;
}

th, td {
    padding: 1rem;
    text-align: left;
    word-wrap: break-word;
}

.reminders-table, .warnings-table {
    min-height: 15vh; 
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.reminders-table thead tr, .warnings-table thead tr {
    background-color: rgb(101, 215, 243);
    border: 1px solid lightgray;
}

.reminders-table .reminders, .warnings-table .warnings {
    text-align: center;
}

.reminders-table tbody, .warnings-table tbody {
    background-color: #f1f1f1;
}
