.sidebar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 1rem;
    height: 100dvh;
    width: 20dvw;
    background-color: #c4e7fe;
}

.top {
    display: flex;
    justify-content: space-between;
}

.move-sidebar {
    cursor: pointer;
}

.menu {
    padding-top: 2rem;
}

.side-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.side-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}

.side-item:hover {
    background-color: #62c0ff;
}

.side-item #icon {
    flex: 30%;
}

.side-item #title {
    flex: 70%;
}
